# This file is sample
# To use it, fill in the your database setting
# And change the fileName to '.env'

# port number
PORT=27017
# MongoDB URI & User/Password
MONGO_URI=mongodb://localhost/<db-name>
# mlab의 경우
# MONGO_URI=mongodb://<userid>:<password>@<database>:<port>/<db-name>